/* ---------------- Search Bar inside Header ---------------- */

$cs-search-radius: 10px;
.cs-flexbox-container {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
    width: 100%;
}

.cs-flexbox-child {
    flex-grow: 1;
    flex-basis: auto;
}

span.fa.fa-search {
    display: inline;
    position: absolute;
    width: 25%;
    text-align: center;
    padding-top: 4px;
    z-index: map-get($zindex, search-input-button-text);
    &::before {
        color: #ffffff;
        font-size: $font-size-base + 4;
        // position: absolute;
        // top: 8px;
        // right: 40px;
        padding-right: 10px;
    }
    &::after {
        content: 'SEARCH';
        color: #ffffff;
        @include font-normal;
        font-weight: $bold;
        font-size: $font-size-base + 2;
        //font-family: $font-family-arial;
    }
}

.cs-search-orange {
    border-radius: $cs-search-radius;
    height: 47px;
    background: $orange;
    border: $cs-search-radius solid $orange;
    border: 10px solid $orange;
    flex-grow: 9;
    form {
        position: relative;
        input#sli_search_1 {
            width: calc(75% - 20px);
            height: 26px;
            //border: 0;
            padding: 10px;
            font-size: $font-size-base;
            margin: 0px 3px 6px 6px;
            border-radius: $cs-search-radius;
            border: none;
        }
        input.cs-search-btn {
            width: 169px;
            width: calc(25% - 6px);
            height: 26px;
            background: $blue;
            font-size: 15px;
            margin: 0px 6px 6px 3px;
            border-radius: $cs-search-radius;
            border: none;
        }
        .cs-search-btn-container {
            display: initial;
            &:hover input.cs-search-btn {
                background-color: darken( $blue, 15%);
                //background-color: $orange;
            }
        }
    }
}

.cs-create-custom-btn {
    max-width: 154px;
    height: 46px;
    background-color: $slate-blue;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    margin-left: 5px;
    flex-grow: 1;
    a h3 {
        color: #ffffff;
        float: left;
        padding: 6px 11px;
        margin: 0;
        font-weight: normal;
        line-height: 17px;
        font-size: $font-size-base;
        @include font-normal;
        border-radius: 4px;
        &:hover {
            background-color: $blue;
        }
    }
}
